<h1>This is our home page welcome </h1>
<div>
  <a href='/recipes'>Check out our recipes</a>
</div>
<br /><br /><br /><br />
<div>
  <form action="/recipes" method="post">
  <input type="text" name="recipe[name]" placeholder="Recipe">
  <input type="text" name="recipe[ingredients]" placeholder="ingredient">
  <input type="submit" value="Add recipe">
</form>
</div>
